services:
  portfolio:
    build:
      context: .
      dockerfile: Dockerfile.production
    ports:
      - 80:5000
    container_name: portfolio
    restart: unless-stopped
    command: npm run start
    environment:
      - NODE_ENV=production
      - HOST=0.0.0.0
      - PORT=5000